@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000;
    --font-exo2: 'Exo 2', sans-serif;
    --padding-side: 5%;
  }

  .dark {
    --background: #000;
    --foreground: #fff;
  }
}
@layer base {
  body {
    @apply bg-background text-foreground font-exo2 font-normal overflow-x-hidden;
  }
}

.mux-player-controls {
  --controls: none;
}

@media (max-width: 1024px) {
  :root {
    --padding-side: 2rem;
  }
}

@media (max-width: 480px) {
  :root {
    --padding-side: 1rem;
  }
}

.underline-partial {
  @apply w-fit relative before:content-[""] before:absolute before:-bottom-2 before:-left-[0.3rem] before:w-[calc(50%)] before:h-[2px] before:bg-[linear-gradient(93deg,#C84159_0%,_#6697D0_100%)] before:z-10;
}

.underline-link {
  @apply w-fit relative before:content-[""] before:absolute before:-bottom-1 before:-left-2 before:w-0 hover:before:w-[calc(100%+1rem)] before:transition-all before:h-[2px] before:bg-[linear-gradient(93deg,#C84159_0%,_#6697D0_100%)] before:z-10;
}

.cursor,
.cursorLabel {
  @apply w-32 h-32 rounded-full bg-[linear-gradient(93deg,#C84159_0%,_#6697D0_100%)] text-white fixed z-20 flex items-center justify-center pointer-events-none transform scale-0 invisible transition-all duration-200 ease-out;
}

.cursorLabel {
  @apply bg-transparent relative w-full h-full text-center;
}

.cursor.active,
.cursor.active .cursorLabel {
  @apply visible transform scale-100;
}
