@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000;
    --font-exo2: 'Exo 2', sans-serif;
    --padding-side: 3rem;
  }

  .dark {
    --background: #000;
    --foreground: #fff;
  }
}
@layer base {
  body {
    @apply bg-background text-foreground font-exo2 font-normal overflow-x-hidden;
  }
}

.mux-player-controls {
  --controls: none;
}

@media (max-width: 1024px) {
  :root {
    --padding-side: 2rem;
  }
}

@media (max-width: 480px) {
  :root {
    --padding-side: 1rem;
  }
}