@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    /* [linear-gradient(93deg,#C84159_0%,_#6697D0_100%)] */
    --gradient: linear-gradient(93deg, #c84159, #6697d0);
    --font-exo2: 'Exo 2', sans-serif;
    --padding-side: 5%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
  }
}
@layer base {
  body {
    @apply bg-background text-foreground font-exo2 font-normal overflow-x-hidden;
  }
}

.mux-player-controls {
  --controls: none;
}

@media (max-width: 1024px) {
  :root {
    --padding-side: 2rem;
  }
}

@media (max-width: 480px) {
  :root {
    --padding-side: 1rem;
  }
}

.underline-partial {
  @apply w-fit relative before:content-[""] before:absolute before:-bottom-2 before:-left-[0.3rem] before:w-[calc(50%)] before:h-[2px] before:bg-gradient before:z-10;
}

.underline-link {
  @apply w-fit relative before:content-[""] before:absolute before:-bottom-1 before:-left-2 before:w-0 hover:before:w-[calc(100%+1rem)] before:transition-all before:h-[2px] before:bg-gradient before:z-10;
}

.cursor,
.cursorLabel {
  @apply w-32 h-32 rounded-full bg-gradient text-white fixed z-20 hidden lg:flex items-center justify-center pointer-events-none transform scale-0 invisible transition-all duration-200 ease-out;
}

.cursorLabel {
  @apply bg-transparent relative w-full h-full text-center;
}

.cursor.active,
.cursor.active .cursorLabel {
  @apply visible transform scale-100;
}

.grecaptcha-badge {
  display: none !important;
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: -200ms !important;
  }
  .animation-delay-400 {
    animation-delay: -400ms !important;
  }
  .pause {
    animation-play-state: paused;
  }

  .opacitySiblings {
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;

      & ~ * {
        opacity: 0.3;
      }
    }

    &:has(~ *:hover) {
      opacity: 0.3;
    }
  }
}

.scrollDownArrow {
  @apply block w-4 h-4 sm:w-5 sm:h-5 border-b sm:border-b-2 border-r sm:border-r-2 border-foreground rotate-45 -m-2 sm:m-[-10px] animate-scrollDown;
}
