@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --padding-side: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.mux-player-controls {
  --controls: none;
}

@media (max-width: 1024px) {
  :root {
    --padding-side: 2rem;
  }
}

@media (max-width: 480px) {
  :root {
    --padding-side: 1rem;
  }
}
